# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
/media/
/staticfiles/

# Django secret key file
.env

# Node modules
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db
desktop.ini
