{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Security Tools{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>
            <a href="{% url 'home_view' %}" style="text-decoration: none; color: inherit;">Django Security Tools</a>
        </h1>
    </header>
    <main>
        {% block content %}
        <!-- Main content will be inserted here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Django Security Tools. A Josh Kerbel production.</p>
    </footer>
</body>
</html>
